header{
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        &__logo{
            img{
                width: 40px;
                height: 40px;  
            }
        }
        &__menu{
            cursor: pointer;
        }
        
    }
}